.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-leave-active {
  display: inline-block;
  position: absolute;
}

.breadcrumb-leave-active .el-breadcrumb__separator {
  display: none;
}
